@font-face {
	font-family: 'Freigeist';
	src: url('./fonts/Freigeist-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freigeist';
	src: url('./fonts/Freigeist-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freigeist';
	src: url('./fonts/Freigeist-Light.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freigeist-XWideBold';
	src: url('./fonts/Freigeist-XWideBold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
