*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;

	&:hover {
		text-decoration: underline;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	background-color: #000;
	font-family: 'Freigeist', system-ui;
	letter-spacing: 0.3px;
}

::selection {
	background-color: var(--secondary);
	color: #fff;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0 40px;

	@media (max-width: 768px) {
		padding: 0 16px;
	}
}

.grid-x2fr {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		justify-content: center;
	}
}

.section {
	padding: 3.25rem 0;
	margin: 3.25rem 0;
	margin-bottom: var(--section-margin);

	span {
		padding: 0.4rem 1rem;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		margin-top: 2rem;
		margin-bottom: 2rem;
		color: #f5f5f5;
	}

	h3 {
		max-width: 454px;
		font-weight: bold;
		font-size: responsive 1.5rem 2.25rem;
		line-height: 130%;
		color: #f4f4f4;
		margin-bottom: 1.5rem;
	}

	p {
		line-height: 150%;
		color: #f2f2f2;
		max-width: 448px;
		margin-bottom: 2.25rem;
		font-weight: 100;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.cta {
	padding: 1.1rem 2.6rem;
	background-color: #e937b3;
	border-radius: 10px;
	margin-right: 1rem;
	font-size: 0.95rem;
	display: inline-block;
	text-decoration: none;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}
}

.invalid {
	border: 2px solid #df1a29;
	border-radius: 10px;
}

.auth {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM4NyIgaGVpZ2h0PSIxMTI0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzUyLjI1IDU2OC45NTJMNDUwLjYyOSA0OS4zNzI1IiBzdHJva2U9InVybCgjcGFpbnQwX2xpbmVhcikiIHN0cm9rZS13aWR0aD0iNDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxwYXRoIGQ9Ik00NTEuMjg5IDEwOTAuNjRsOTAyLjQ3MS01MjEuMDM5IiBzdHJva2U9InVybCgjcGFpbnQxX2xpbmVhcikiIHN0cm9rZS13aWR0aD0iNDgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9IjY0OC43NTMiIHkxPSIxNjUuMTc5IiB4Mj0iMTM1NC40NiIgeTI9IjU3Mi43NzYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcC8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMEExOUZFIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MV9saW5lYXIiIHgxPSI0NTEuNTM5IiB5MT0iMTA5MS4wNyIgeDI9IjEzMzguNzEiIHkyPSI1NzguODY1IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iIzAwQ0RFQyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzAwMERENSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjwvc3ZnPg==');
	background-position: center 120%;
	background-repeat: no-repeat;

	footer {
		text-align: center;
		color: #fff;
		font-weight: 100;
		font-size: 0.9rem;
	}
}
