*,
*::after,
*::before {
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #262626;
	font-family: sans-serif;
}
.container {
	max-width: 1660px;
	margin: 0 auto;
	width: 100%;
	padding: 0 40px;
}
.main-btn {
	background-color: #e93762;
	border: none;
	cursor: pointer;
	outline-color: #262626;
	padding: 0.89rem 1.87rem;
	font-weight: bold;
	font-size: 0.89rem;
	border-radius: 12px;
	border-color: #e93762;
	color: #ffffff;
	transition: all 0.2s;
	flex-shrink: 0;
}

.main-btn:hover,
.main-btn:active {
	background-color: #c93054;
	border-color: #c93054;
	color: #ffffff;
	text-decoration: none;
}

input {
	border-radius: 0.7rem;
	font-weight: bold;
	font-size: 0.88rem;
	line-height: 140%;
	color: #434343;
	border: 1px solid transparent;
	margin-bottom: 1.25rem;
	background-color: rgba(255, 255, 255, 0.9);
	outline-color: #222e4f;
}
