*,
*::after,
*::before {
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #262626;
	font-family: 'Freigeist', system-ui;
	letter-spacing: 0.3px;
}

::selection {
	background-color: #6252be;
	color: #fff;
}

.container {
	max-width: 1660px;
	margin: 0 auto;
	width: 100%;
	padding: 0 40px;
}

.main-btn {
	background-color: #e93762;
	border: none;
	cursor: pointer;
	outline-color: #262626;
	padding: 0.89rem 1.87rem;
	font-weight: bold;
	font-size: 0.89rem;
	border-radius: 12px;
	border-color: #e93762;
	color: #ffffff;
	transition: all 0.2s;
	flex-shrink: 0;
}

.main-btn:hover,
.main-btn:active {
	background-color: #c93054;
	border-color: #c93054;
	color: #ffffff;
	text-decoration: none;
}

input {
	border-radius: 0.7rem;
	font-weight: bold;
	font-size: 0.88rem;
	line-height: 140%;
	color: #434343;
	border: 1px solid transparent;
	margin-bottom: 1.25rem;
	background-color: rgba(255, 255, 255, 0.9);
	outline-color: #222e4f;
}

@media (prefers-reduced-motion: no-preference) {
	.bg[data-bg-animate='on'] {
		will-change: background-position;
	}
}

.bg {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	--bg-gradient-stop-1: #000;
	--bg-gradient-stop-2: #1b3699;
	--bg-gradient-stop-3: #000;

	background-color: var(--bg-gradient-stop-1);
	background-image: radial-gradient(
			ellipse at 90% 30%,
			var(--bg-gradient-stop-1) 20%,
			transparent 50%
		),
		radial-gradient(
			ellipse at 70% 0%,
			var(--bg-gradient-stop-2) 0%,
			transparent 50%
		),
		radial-gradient(
			ellipse at 20% 10%,
			var(--bg-gradient-stop-3) 10%,
			transparent 70%
		),
		radial-gradient(
			ellipse at 50% 100%,
			var(--bg-gradient-stop-2) 0%,
			transparent 50%
		);
	background-size: 200% 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.bg[data-bg-animate='on'] {
		background-size: 400% 200%;
		background-position: 0% 0%;
		animation: bg-gradient-anim-1 180s linear infinite;
	}
}

@keyframes bg-gradient-anim-1 {
	0%,
	100% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0% 100%;
	}
}
